.quizContainer{
    width: 1000px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    text-align: center;

}

.quizContainer button{
    width: 200px;
}

@media screen and (max-width: 1000px){
    .quizContainer{
        width: 700px; 
    }
}


@media screen and (max-width: 330px){
    .quizContainer{
        width: 250px; 
    }
}