.quizContainer{
    width: 1000px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    text-align: center;

}

.quizContainer button{
    width: 200px;
}

@media screen and (max-width: 1000px){
    .quizContainer{
        width: 700px; 
    }
}

@media screen and (max-width: 700px){
    .quizContainer{
        width: 400px; 
    }
}


@media screen and (max-width: 410px){
    .quizContainer{
        width: 300px; 
    }
}