.container{
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
}

.title{
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
}

.input{
    margin: 0 auto;
    width: 200px;
}

.introContainer{
    display: flex;
    justify-content: center; 
    flex-direction: column;
}