.container{
    width: 800px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title{
    font-size: 45px;
    padding-bottom: 25px;
    font-weight: 700;
    color: black;
}

.buttonContainer{  
    display: flex;  
    flex-direction: column;
    gap: 15px; 
}