/*----------------------------------------------------------------------------------CardStyles----------------------------------------------------------------------------------- */

.card-container{
    width: 273.75px;
    height: 168.75px;
    background: url(../public/Flashcard.png) center no-repeat;
    background-size: cover;
    border: 2px solid grey;
    border-radius: 20px;
    position: relative;
}

.checkout-container{
    position: absolute;
    width: 273.75px;
    height: 168.75px; 
    border-radius: 20px;
    background-color: rgba(122, 122, 122, 0.594);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.5s;
}

.card-container:hover .checkout-container{
    opacity: 1;
}

.card-content{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 2px;
}

/*-----------------------------------------------------------------------------------QuizCardStyles-------------------------------------------------------------------------------*/

.quizCardContainer{
    position: relative;
    width: 700px;
    height: 400px;   
    border-radius: 10px;
    transition: transform 1.5s; 
    cursor: pointer;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 10px;  
    overflow: hidden; 
}

.back::before{
    content: "";
    position: absolute;
    left: 250px;
    width: 180px;
    height: 820px; 
    top: -210px;
    background: linear-gradient(to right, #ffd700, #b8860b); 
    box-shadow: 2px 0 30px rgb(255, 170, 0);
    animation: animate 10s linear infinite;
}

.back::after{
    content: "";
    position: absolute; 
    inset: 2px;
    background: url(../public/Back.png) center no-repeat;
    background-size: cover;
    border-radius: 10px;  
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../public/Front.png) center no-repeat;
    background-size: cover;
    top: 0;  
    border-radius: 10px; 
    transform: rotateY(180deg); 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s;
}

.question{
    font-size: 30px;
    color: #f8ce87;
    width: 500px;
}
 
.quizCardContainer.active{
    transform: rotateY(180deg);
} 

.back.visible{
    display: none; 
}
 


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    .quizCardContainer{ 
        width: 500px;
        height: 286px;    
    }
    .question{
        font-size: 15px; 
        width: 300px;
    }
}



@media screen and (max-width: 330px) {
    .quizCardContainer{ 
        width: 250px;
        height: 143px;    
    }
    .question{
        font-size: 15px; 
        width: 200px;
    }
}